<?xml version="1.0" encoding="UTF-8"?>

<configuration  scan="true" scanPeriod="5000">

    <contextName>@project.groupId@/@project.artifactId@</contextName>

    <appender name="jsonAuditFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${AUDIT_LOGDIR}/${AUDIT_LOGFILE}</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${AUDIT_LOGFILE}.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <!-- https://github.com/logstash/logstash-logback-encoder -->
            <providers>
                <timestamp />
                <contextName>
                    <fieldName>application</fieldName>
                </contextName>
                <loggerName>
                    <fieldName>logger</fieldName>
                </loggerName>
                <mdc />
                <message />
                <arguments />
            </providers>
        </encoder>

    </appender>

    <logger name="no.digdir.logging.AuditLog" level="INFO" additivity="false">
        <appender-ref ref="jsonAuditFileAppender"/>
    </logger>


</configuration>
